

.tyui_box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p_txt{
    font-size: 25px;
    font-weight: bold;
}

.register_box{
    display: flex;
    flex-direction: column;
    align-items: center;

  
}
.mail_txt{
    font-size: 40px;
    margin-top: 25px;
}

.password_txt{
    font-size: 40px;
    margin-top: 10px;
}

.register_txt{
    padding: 5px;
    font-size: 30px;
}

.register_btn{
    margin-top: 45px;
    padding: 15px 60px;
    font-size: 20px;
}