

.eve_tyosyo{
    font-size: 60px;
    text-align: center;
}
.tyousyo_list{
    text-align: center;
}

.tyosyo{
    font-size: 30px;
    margin: 20px 0;
}




.btn{
    text-align: right;
}
.listbtn{
    font-size: 30px;
    margin: 10px 50px 0 0;
    padding: 5px 20px;
}
.titlebtn{
    font-size: 30px;
    margin: 10px 50px 0 0;
    padding: 5px 20px;
}
.data_container{
    border: 1px solid #ccc;
    margin-bottom: 10px;
}